@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";


.content {
  width: 100%;
  padding: 2.8rem;
  display: inline-flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex: 1;
  gap: 1.6rem;
  white-space: wrap;
  min-height: 100%;
  pointer-events: none;
  @include breakpoint("sm") {
    gap: 2.4rem;
  }
}

.cardTitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: $clr-text-primary;
  @include breakpoint("sm") {
    font-size: 1.6rem;
  }
}

.institution {
  font-size: 1.4rem;
  font-weight: 400;
  color: $clr-text-secondary;
}

.companyLogo {
  height: 5.2rem;
  width: auto;
  img {
    height: 100%;
    object-fit: cover;
  }
}
