@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";

.burgerBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  gap: 0.5rem;
  width: 3.6rem;
  height: 4rem;
  background: transparent;
  cursor: pointer;
  padding: 0;
  z-index: 2000;
  border: none;

  &:focus {
    outline: none;
  }

  span {
    height: 0.2rem;
    background: $clr-text-secondary;
    border-radius: 1rem;
    transition: all 0.3s linear;
    transform-origin: 1px;
    z-index: 1000;

    &:nth-child(1) {
      transform: rotate(0deg);
      width: 2rem;
    }

    &:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      width: 2rem;
    }

    &:nth-child(3) {
      width: 2rem;
      transform: rotate(0deg);
    }
  }

  &.active span {
    &:nth-child(1) {
      transform: rotate(45deg) translateX(0.1rem);
      width: 2rem;
    }

    &:nth-child(2) {
      opacity: 0;
      transform: translateX(0);
    }

    &:nth-child(3) {
      transform: rotate(-45deg) translateX(0.1rem);
      width: 2rem;
    }
  }

  @include breakpoint("md") {
    display: none;
  }
}
