@import "variables";

@mixin responsive-container {
  margin: 0 auto;
  width: 100%;
  padding-inline: $container-padding-mobile;

  @include breakpoint("xs") {
    padding-inline: $container-padding-tablet;
  }
  @include breakpoint("md") {
    padding-inline: $container-padding-desktop;
  }

  @include breakpoint("xl") {
    padding-inline: $container-padding-large-desktop;
    max-width: $container-max-width;
  }
}

@mixin breakpoint($point) {
  $breakpoint: map-get($breakpoints, $point);
  @if $breakpoint {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn "Breakpoint '#{$point}' not found in $breakpoints map.";
  }
}

@mixin languageStyles($context) {
  @if $context == "header" {
    display: none;
    @include breakpoint("md") {
      display: block;
    }
  } @else if $context == "footer" {
    display: block;
  }
}

@mixin linkButton(
  $color: $clr-blue-active,
  $hover-color: rgb(50, 149, 206),
  $font-size: 1.4rem,
  $line-height: 1.96rem,
  $font-weight: 700,
  $gap: 0.6rem,
  $transition: 0.6s
) {
  color: $color;
  text-decoration: none;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  text-transform: uppercase;
  height: 100%;
  display: inline-flex;
  align-items: center;
  gap: $gap;
  transition: all $transition ease-out;

  &:hover {
    color: $hover-color;
  }
}

@mixin linkStyles($color: $clr-text-secondary, $hover-color: $clr-blue-active) {
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  font-size: inherit;
  color: $color;
  font-weight: 400;
  &:hover {
    color: $hover-color;
  }
}

@mixin calculate-max-height($padding-top, $font-size, $line-height) {
  $h4-height: $font-size * $line-height;
  $max-height: $padding-top * 2 + $h4-height;
  max-height: #{$max-height};
}

@mixin section-margin-block {
  margin-block: 3.6rem;

  @include breakpoint("xs") {
    margin-block: 4rem;
  }

  @include breakpoint("sm") {
    margin-block: 5rem;
  }

  @include breakpoint("md") {
    margin-block: 6rem;
  }
}

@mixin link-full($bg-color: $btn-blue-bg, $hover-bg-color: #3295ce) {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: $bg-color;
  color: $clr-text-light;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.33;
  text-transform: uppercase;
  border: none;
  border-radius: 0.6rem;
  padding: 1.6rem 2.4rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.4s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      to right,
      $hover-bg-color,
      darken($hover-bg-color, 10%)
    );
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 0;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  svg {
    margin-right: 0.5rem;
  }

  @include breakpoint("sm") {
    max-width: fit-content;
  }
}
