@import "../../styles/abstracts/mixins";
@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/animations";

.bankingSection {
  background-color: $bg-color-secondary;
  padding-block: 3.2rem;
  min-height: auto;
  @include section-margin-block;
  @include responsive-padding;
  @include breakpoint("xs") {
    padding-block: 4.5rem;
  }
  @include breakpoint("sm") {
    padding-block: 3.2rem;
    min-height: 30rem;
  }
  @include breakpoint("md") {
    min-height: 37.4rem;
  }
  @include breakpoint("xl") {
    min-height: 41.4rem;
  }

  .bankingContainer {
    height: 100%;
    @include responsive-container;
  }

  .contentWrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bankingContent {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 2.4rem;

    @include breakpoint("xs") {
      gap: 2.8rem;
    }
    @include breakpoint("sm") {
      gap: 2.8rem;
      width: 55%;
    }

    @include breakpoint("md") {
      text-align: left;
      margin-bottom: 0;
    }

    .storeButtons {
      display: flex;
      gap: 1.6rem;
      align-items: center;

      @include breakpoint("md") {
        justify-content: flex-start;
      }

      .storeButton {
        display: inline-flex;
        justify-content: center;
        width: 100%;
        height: 5.2rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.33;
        border: 1px solid $clr-blue-active;
        border-radius: 0.4rem;
        transition: background-position 0.25s ease-in-out;
        text-transform: uppercase;
        color: $clr-blue-active;
        background-color: $bg-color-primary;
        position: relative;

        &:before {
          content: "download";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $clr-blue-active;
          display: block;
          background: url("/icons/download-icon.svg") no-repeat left center;
          padding-left: 1.8rem;
          background-size: 1.4rem 1.4rem;
        }

        &:last-of-type {
          display: none;
        }

        @include breakpoint("sm") {
          width: 15.98rem;
        }
        @include breakpoint("md") {
          background-color: $bg-color-secondary;
          width: 13.4rem;
          height: 5.1rem;
          border: $border-secondary;
          color: $clr-text-light;

          background: url("/images/apple-store.svg") no-repeat center center;
          &:first-child {
            background: url("/images/google-play.svg") no-repeat center center;
            &:before {
              content: "";
            }
          }

          &:last-of-type {
            display: inline-flex;
            &:before {
              content: "";
            }
          }
        }
        img {
          width: 6.8rem;
          height: auto;
        }

        &:hover {
          border: $border-secondary;
        }
      }
    }
  }

  .bankingImage {
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    width: 100%;

    img {
      width: 100%;
    }

    @include breakpoint("xs") {
      max-width: 37rem;
    }

    @include breakpoint("sm") {
      position: absolute;
      bottom: -3.2rem;
      right: 0;
      aspect-ratio: 37 / 27;
      height: 27rem;
      display: inline-flex;
      align-items: flex-end;
      justify-content: flex-end;

      img {
        width: auto;
        max-height: 100%;
      }
    }

    @include breakpoint("md") {
      height: 33.6rem;
    }

    @include breakpoint("xl") {
      height: 37.2rem;
    }
  }
}
